<section class="vh-100" style="background-color: #508bfc">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-12 col-md-8 col-lg-6 col-xl-5">
        <div class="card shadow-2-strong" style="border-radius: 1rem">
          <div class="card-body p-5 text-center">
            <h3 class="mb-5">Sign in</h3>

            <form #loginForm="ngForm" (ngSubmit)="onSubmit(loginForm.value)">
              <div class="form-floating mb-4">
                <input
                  type="email"
                  name="email"
                  class="form-control form-control-lg"
                  ngModel
                  required
                  email
                  #email="ngModel"
                  [ngClass]="{ 'is-invalid': email.touched && email.invalid }"
                />
                <label class="form-label" for="typeEmailX-2">Email</label>
                <div
                  class="alert alert-danger"
                  *ngIf="email.touched && email.invalid"
                >
                  <div *ngIf="email.errors?.['required']">Email je obavezan!</div>
                  <div *ngIf="email.errors?.['email']">Molimo unesite Validan email!</div>
                </div>
              </div>
              <div class="form-floating mb-4">
                <input
                  type="password"
                  name="password"
                  class="form-control form-control-lg"
                  ngModel
                  required
                  #password="ngModel"
                  [ngClass]="{
                    'is-invalid': password.touched && password.invalid
                  }"
                />
                <label class="form-label" for="typePasswordX-2">Password</label>
                <div class="alert alert-danger" *ngIf="password.touched && password.invalid">
                  Sifra je obavezna!
                </div>
              </div>
              <div class="row d-flex flex-column">
                <div class="col-auto align-self-start">
                  <div class="form-group form-check">
                    <input type="checkbox" class="form-check-input" id="staySignedIn" name="staySignedIn" [(ngModel)]="stayLoggedIn">
                    <label class="form-check-label" for="staySignedIn">Stay signed in</label>
                  </div>
                </div>
                <div class="col">
                  <button
                    class="btn btn-primary btn-lg btn-block"
                    type="submit"
                    [disabled]="loginForm.invalid"
                  >
                    Login
                  </button>
                </div>
              </div>
            </form>
            <hr class="my-4" />
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
